body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.buttoncolumn {
    width: 160px;
}

.login-controls {
    float: right !important;
    width: 200px;
    padding-top: 15px;
}

    .login-controls .login {
        float: right;
    }

        .login-controls .login a {
            color: brown;
            font-weight: bold;
        }

.welcomelabel {
    color: white;
}

.logoff {
    float: left;
}

    .logoff a {
        color: brown;
        font-weight: bold;
    }

.userlabel {
    float: right;
}
